<span class="main-word">{{division}}</span>
<div class="percent">
    부향률<span class="fa fa-question-circle-o question"></span>
    <span id="mean">향수에 향수 원액이 포함되어 있는 비율</span><br>
    {{percent}}
</div>
<p>{{title}}</p>
<p>
    {{{summary}}}
</p>
<ul class="division-exam">
    <li>
        <img src="./img/perfume/{{img1}}">
    </li>
    <li>
        <img src="./img/perfume/{{img2}}">
    </li>
    <li>
        <img src="./img/perfume/{{img3}}">
    </li>
</ul>