<div class="select-detail-view">
    <div>
        <span>이름</span>
        <div class="detail name">{{name}}</div>
    </div>
    <div>
        <span>브랜드</span>
        <div class="detail brand">{{brand}}</div>
    </div>
    <div>
        <span>소개</span>
        <div class="detail intro">
            <p>{{{intro}}}</p>
            <p>{{{summary}}}</p>
        </div>
    </div>
    <img src="../img/perfume/{{image}}">
    <div class="perfume-source">
        출처 {{source}}
    </div>
</div>